#field {
  padding: 0;
  
  table{
	width: 90vmin;
	margin: auto;
	border: 1px solid grey;
	border-collapse: collapse;
	td, th{		
		border: 1px solid lightgrey;
	}
	td{
		padding: 0;
		margin: 0;
		height: 6vmin;
		width: 6vmin;
		div{
			height: 100%;
			width: 100%;
		}
		[cell] div{
			background-size: contain;
		}
	}
  }
}